/.doom.d/marginalia.org
/.emacs.d/transient/
/.emacs.d/tramp
/.emacs.d/recentf
/.emacs.d/perspective-state
/.emacs.d/eshell/
/.emacs.d/emojis/
/.emacs.d/bookmarks
/.emacs.d/Emacs_Square.png
/.emacs.d/Emacs_512.png
/.emacs.d/.org-id-locations
/.emacs.d/.mc-lists.el
/.emacs.d/.lsp-session-v1
/.emacs.d/.cache/
/.emacs.d/#recentf#
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/org-roam.db
/.emacs.d/session.10f6bb064f70154259165090568225945600000096390086
/.emacs.d/session.1024387fd61baa5250164998617125217100000027960096
/.emacs.d/session.109189783b69dec159165090547386620500000032940085
/.emacs.d/session.10c6e922c5b59f29a416509942819016800000205960086
/.emacs.d/nov-places
/.emacs.d/places
/.emacs.d/request/
/.emacs.d/straight/build/
/.emacs.d/straight/build-cache.el
/.emacs.d/straight/modified/
/.emacs.d/straight/repos/
/.emacs.d/url/
/.emacs.d/history
/.emacs.d/games/
/.emacs.d/elpa/
/.emacs.d/eln-cache/
/.emacs.d/.dap-breakpoints
/.emacs.d/**/*#
/.emacs.d/**/*~
/.emacs.d/*.plstore