/* resource monitor block */

#cpu {
    border-radius: 10px 0px 0px 10px;
    margin-left: 25px;
    padding-left: 12px;
    padding-right: 4px;
}

#memory {
    border-radius: 0px 10px 10px 0px;
    border-left-width: 0px;
    padding-left: 4px;
    padding-right: 12px;
    margin-right: 6px;
}


/* date time block */

#clock {
    border-radius: 10px;
    margin-left: 6px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 6px;
}


/* workspace window block */

#workspaces {
    border-radius: 10px 0px 0px 10px;
    padding-left: 12px;
}

#window {
    border-radius: 0px 10px 10px 0px;
    padding-right: 12px;
}


/* control center block */

#custom-updates {
    border-radius: 10px 0px 0px 10px;
    margin-left: 6px;
    padding-left: 12px;
    padding-right: 4px;
}

#network {
    padding-left: 6px;
    padding-right: 6px;
}

#bluetooth {
    padding-left: 4px;
    padding-right: 4px;
}

#wireplumber {
    padding-left: 4px;
    padding-right: 4px;
}

#custom-wallchange {
    padding-left: 4px;
    padding-right: 4px;
}

#idle_inhibitor {
    border-radius: 0px 10px 10px 0px;
    padding-left: 4px;
    padding-right: 12px;
    margin-right: 6px;
}

/* system tray block */

#custom-mode {
    border-radius: 10px 0px 0px 10px;
    margin-left: 6px;
    padding-left: 12px;
    padding-right: 4px;
}

#tray {
    padding-left: 4px;
    padding-right: 4px;
}

#battery {
    border-radius: 0px 10px 10px 0px;
    padding-left: 4px;
    padding-right: 12px;
    margin-right: 25px;
}
