./tramp
./recentf
./perspective-state
./eshell/
./emojis/
./bookmarks
./Emacs_Square.png
./Emacs_512.png
./.org-id-locations
./.mc-lists.el
./.lsp-session-v1
./.cache/
./#recentf#
./projectile-bookmarks.eld
./org-roam.db
./session.10f6bb064f70154259165090568225945600000096390086
./session.1024387fd61baa5250164998617125217100000027960096
./session.109189783b69dec159165090547386620500000032940085
./session.10c6e922c5b59f29a416509942819016800000205960086
./nov-places
./places
./request/
./straight/build/
./straight/build-cache.el
./straight/modified/
./straight/repos/
./url/
./history
./games/
./elpa/
./eln-cache/
./.dap-breakpoints
./**/*#
./**/*~
./*.plstore
./emacs.png
./forge-database.sqlite
./multisession/
./persist/
./projects
./tabsession.el
./ts-grammars/
./tree-sitter/
./transient/
/emacs/eln-cache/
/elpaca/
